In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [ ]:
# Connection string for local server
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/mental_health_and_covid"

In [ ]:
# Create the database engine
engine = create_engine(db_string)

In [ ]:
# Save the DataFrame to a SQL table
AMI_State_Totals_2017_to_2021_df.to_sql(name='AMI_State_Totals_2017_to_2021', con=engine, if_exists='replace')

In [ ]:
# Save the DataFrame to a SQL table
Covid_Totals_2017_to_2021_df.to_sql(name='Covid_Totals_2017_to_2021', con=engine, if_exists='replace')

In [ ]:
# Save the DataFrame to a SQL table
Employment_Totals_2017_to_2021_df.to_sql(name='Employment_Totals_2017_to_2021', con=engine, if_exists='replace')

In [ ]:
# Save the DataFrame to a SQL table
Median_Income_Total_2017_to_2021_df.to_sql(name='Median_Income_Total_2017_to_2021', con=engine, if_exists='replace')